exp_name: test_tuned
seed: &seed 310
out_dir: ./logs/
tensorboard_log_dir: runs/
save_every_iter: &log_freq 1
total_steps: 512 # Check diffusion_cfg to see how many steps there are in diffusion (normal diffusion + upsampler)
substep_count: 1 # remember to update in diffusion config in pointe, under the k keys

cond_config:
  - name: "SoftZoo_Sim"
    grad_scale: !!float 1e6
    grad_clamp: !!float 1e0
    calc_gradient: True
    logging_bool: True
  # - name: "Dist_To_Origin"
  #   grad_scale: !!float 1e0
  #   grad_clamp: !!float 1e-2
  #   calc_gradient: True
  #   logging_bool: True
cond_overall_logging: True

preload_emb:
  condition_embedding: 
    shape: [1,3,224,224]
    path: asset/img_asset/ver_rec.png
    random: False
  diffusion_noise: 
    shape: [2,6,1024]
    path: asset/embeddings/base_noise_cone.npy
  upsample_noise: 
    shape: [1,6,3072]
    path: asset/embeddings/upsample_noise_cone.npy

softzoo_config:
  custom_gravity: False
  # eval: True
  out_dir: null # Placeholder, need to be set in run.py
  fixed_v: gripping_5_HTP.json
  env_config_file: test.yaml
  save_every_iter: *log_freq
  render_every_iter: *log_freq
  n_iters: 301
  n_frames: 75

  controller_type: all_on
  active: True
  action_v_strength: 0.35

  loss_types: [ObjectBalancedLoss,ContactLoss]
  loss_coefs: [1.0,1.0]
  obj_x_mul: [0.,1.,0.]
  obj_particle_id: 2
  surface_threshold: 0.02

  seed: *seed  # Placeholder, do not use
  torch_seed: *seed  # Placeholder, do not use
  static_as_fixed: True
  device_memory_fraction: 0.7

  optimize_designer: True
  optimize_design_types: ['geometry','softness']
  designer_lr: 0.1
  optimize_controller: True
  gen_pointe_bounding_box:
    max: [1.2,0.1,1.2]
    # mean: [0.,0.,0.]
    min: [-1.2,-3.,-1.2]

  design_device: cpu
  obj_initial_pos: [0,0,0]
  num_fingers: 2

pointe_config:
  base_model_name: base40M
  device: cuda:1
  guidance_scale: [3.0, 0.0]
  num_points: [1024, 3072]
  sampling_mode: ddim
  